<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {{blog_form.hidden_tag()}}

        {{blog_form.title.label}} {{blog_form.title()}}<br />
        {{blog_form.content.label}} {{blog_form.content()}}<br />
        {{blog_form.featured_image.label}} {{blog_form.featured_image()}}<br />
        {{blog_form.categories.label}} {{blog_form.categories()}}<br />

        {{blog_form.submit()}}<br />

        <img src="{{ url_for('static', filename=file_url) }}">
    </form>

</body>
</html>